div {
    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    h1:nth-child(odd) {
        color: #dc0d0d; /* צבע טקסט לכותרות זוגיות */
    }

    h1:nth-child(even) {
        color: #666; /* צבע טקסט לכותרות אי-זוגיות */
    }
}
